{% extends "index.html.twig" %}
{% import "./macros/macros.html.twig" as macros %}
{% block titleText %}O nás{% endblock %}

{% block appBody %}
    <section id="real-hero">
        <div class="container position-relative">
            <div class="real-hero-vectors"></div>
            {{ macros.breadcrumb(breadcrumbs) }}
            <h2 class="display-lg text-white">O nás</h2>
        </div>
    </section>
    <section id="about-us">
        <div class="container">
            <div class="about-us-wrapper">
                <div class="about-us-wrapper-row">
                    <div class="about-us-description">
                        <div class="about-us-description-frame">
                            <p class="title display-md">Můj příběh</p>
                            <p class="description text-md">
                                Jmenuji se Petra Serbová a realitám se věnuji už více než 10 let. Celý život jsem pracovala v
                                oblasti obchodu, kde jsem se naučila jednu zásadní věc – že úspěch stojí na komunikaci,
                                lidském přístupu a schopnosti naslouchat. Práce s lidmi mě vždy naplňovala a právě díky
                                tomu jsem se našla v realitách, kde mohu spojit zkušenosti, intuici i radost z pomoci druhým
                                najít jejich vysněné bydlení.
                                <br/> <br/>
                                Jsem máma dvou dospělých synů a společně s přítelem máme dohromady šest úžasných
                                vnoučat, která nám dělají život barevnější. Rodina je pro mě velkou motivací i oporou a
                                hodnoty, které žiji doma, přenáším i do své práce – férové jednání, spolehlivost a respekt.
                                <br/> <br/>
                                V listopadu 2025 jsme založili naši realitní kancelář s jednoduchým cílem: poskytovat služby,
                                které jsou profesionální, ale zároveň lidské. Chceme, aby se u nás každý klient cítil bezpečně,
                                informovaně a v dobrých rukou. Věřím, že prodej nebo koupě nemovitosti není jen obchod,
                                ale důležitý životní krok, který si zaslouží maximální péči.
                                <br/> <br/>
                                Každý příběh klienta je pro mě jedinečný. Ať už prodáváte, kupujete nebo hledáte radu, jsem
                                tu proto, abych vás provedla celým procesem s klidem, jistotou a úsměvem.</p>
                        </div>
                    </div>
                    <div class="about-us-image">
                        <div class="image-wrapper">
                            <img src="{{ asset("build/images/petka-no-bg.png") }}" alt=""/>
                        </div>

                    </div>
                </div>
                <div class="about-us-wrapper-row">
                    <div class="about-us-description">
                        <div class="about-us-description-frame">
                            <p class="title display-md">O nás</p>
                            <p class="description text-md">
                                Na realitním trhu působím více než 10 let a za tu dobu jsem pomohla stovkám klientů
                                bezpečně a výhodně prodat či koupit nemovitost. Realitní kancelář jsme založili v listopadu
                                2025 s jasnou vizí – dělat realitní služby jinak. Férově, transparentně a s maximální péčí o
                                klienta.
                                <br/> <br/>
                                Věřím, že úspěšný prodej nebo koupě nemovitosti není jen o ceně, ale hlavně o důvěře,
                                komunikaci a profesionálním vedení celého procesu. Každý obchod beru osobně a s plnou
                                odpovědností. Klientům nabízím nejen zkušenosti z praxe, ale také moderní marketing,
                                individuální přístup a jistotu, že jejich nemovitost bude v těch nejlepších rukou.
                                <br/> <br/>
                                Naše kancelář vznikla proto, abychom klientům poskytli služby, které bychom sami chtěli
                                zažít – lidské jednání, odborné poradenství a výsledky, na které se dá spolehnout. Ať už
                                prodáváte, kupujete nebo jen potřebujete poradit, jsme tu pro vás.
                                <br/> <br/>
                                Kromě realitních služeb nabízíme také finanční poradenství. Díky tomu dokážeme klientům
                                pomoci komplexně – od prodeje či koupě nemovitosti až po financování, pojištění, investice
                                nebo nastavení dlouhodobé finanční strategie. Věříme, že propojení realit a financí je pro
                                klienty velkou výhodou, protože mají vše na jednom místě a mohou se spolehnout na
                                odborné vedení v každém kroku.
                            </p>
                        </div>
                    </div>
                    <div class="about-us-image">
                        <div class="image-wrapper">
                            <img src="{{ asset("build/images/kancelar.jpeg") }}" alt=""/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="blog">
        <div class="container">
            <div class="blog-wrapper">
                <div class="blog-list-header">
                    <h2 class="blog-header-title display-md">Čtěte dále</h2>
{#                    <p class="blog-header-supportive text-xl">Lorem ipsum dolor et samet</p>#}
                </div>
                {{ macros.renderBlogList() }}
            </div>
        </div>
    </section>
{% endblock %}
