#about-us{
    padding: 144px 0;
    margin: 0 auto;
    width: 100%;
}

.about-us-wrapper{
    display: flex;
    flex-direction: row;
    gap: 64px;

    .about-us-image{
        width: 500px;
        height: auto;
        overflow: hidden;
        border-radius: 25px;
        img{
            width: 100%;
            height: 100%;
        }
    }

    .about-us-description{
        width: 724px;
        .about-us-description-frame{
            width: 100%;

            h2{
                font-weight: 600;
            }
        }
    }
}
