@use "../commons/mixins";

#contacts{
    padding: 144px 0;
    margin: 0 auto;
    width: 100%;
    @include mixins.tablet() {
        padding: 32px 0 0 0;
    }
    @include mixins.mobile() {
        padding: 32px 0 0 0;
    }
}

.contacts-wrapper{
    padding: 32px 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 32px;
    @include mixins.tablet() {
        padding: 32px 16px;
        width: 100%;
        flex-direction: column;

    }
    @include mixins.mobile() {
        padding: 32px 16px;
        width: 100%;
        flex-direction: column;
    }


    .contacts-list-wrapper{
        width: 100%;

        h3{
            font-weight: 600;
        }

        .contacts-list{
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 4px;
            padding: 54px 16px;
            width: 313px;
            background: $primary-500;
            box-shadow: 0 1px 3px rgba(10, 13, 18, 0.3), 0 1px 2px -1px rgba(10, 13, 18, 0.3);
            border-radius: 4px;

            @include mixins.tablet() {
                width: 100%;
            }
            @include mixins.mobile() {
                width: 100%;
            }

            p{
                margin: 0;
                color: #fff;
            }

            a{
                text-decoration: none;
                color: #fff;;
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 4px;
                i{
                    --size: 16px;
                    color: $primary-50;
                }
            }
        }
    }
}
.contact-form-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .reality-contact-seller-wrapper{
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 16px;


        h3{
            font-weight: 600;
        }
    }
}
.adress-text-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;

    .adress-text{
        p{
            margin: 0;
            color: $neutral-600;
        }
    }

    i{
        --size: 20px;
        color: $primary-500;
    }
}

.map-wrapper{
    width: 100%;

    @include mixins.tablet() {
        //padding: 0 16px;
    }
    @include mixins.mobile() {
        //padding: 0 16px;
    }

    .adress-wrapper{
        padding: 16px 0;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }


    .reality-map-render{
        width: 100%;
        height: 349px;
        border-radius: 20px;

        @include mixins.tablet() {
            border-radius: 0;
        }
        @include mixins.mobile() {
            border-radius: 0;
        }
    }
}
