#contacts{
    padding: 144px 0;
    margin: 0 auto;
    width: 100%;
}

.contacts-wrapper{
    padding: 32px 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 32px;

    .map-wrapper{
        width: 100%;
        .adress-wrapper{
            padding: 16px 0;
            display: flex;
            flex-direction: column;
            gap: 16px;
        }


        .reality-map-render{
            width: 100%;
            height: 349px;
            border-radius: 20px;
        }
    }

    .contacts-list-wrapper{
        width: 500px;

        h3{
            font-weight: 600;
        }

        .contacts-list{
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 4px;
            padding: 75px 0;
            p{
                margin: 0;
                color: $primary-900;
            }

            a{
                text-decoration: none;
                color: $primary-900;
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 4px;
                i{
                    --size: 16px;
                    color: $primary-500;
                }
            }
        }
    }
}
.contact-form-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 0;
    border-top: 1px $primary-50 solid;

    .reality-contact-seller-wrapper{
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
}
.adress-text-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;

    .adress-text{
        p{
            margin: 0;
            color: $neutral-600;
        }
    }

    i{
        --size: 20px;
        color: $primary-500;
    }
}

