@use "../commons/mixins";

section#real-hero{
    height: 240px;
    background: linear-gradient(90deg, rgba(68, 121, 92, 0.7) 0%, rgba(16, 30, 24, 0.7) 100%), url(../../../images/realitieshero.jpg);
    border-radius: 0;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    position: relative;
    width: 100%;
    background-size: cover;
    overflow: hidden;

    .container.position-relative{
        height: 100%;
        position: relative;
        .breadcrumb{
            position: absolute;
            left: 0;
            top: 40px;

            @include mixins.tablet() {
                left: 16px;
            }
            @include mixins.mobile() {
                left: 16px;
            }
        }


        .real-hero-vectors{
            position: absolute;
            width: 529.51px;
            height: 521.52px;
            left: 840px;
            top: calc(50% - 521.52px/2 - 59.24px);
            mix-blend-mode: overlay;
            opacity: 0.3;
            transform: rotate(15deg);
        }

        h2{
            position: absolute;
            width: 301px;
            height: 60px;
            left: 0;
            bottom: 40px;
            font-weight: 600;
            letter-spacing: -0.02em;
            color: #FFFFFF;

            @include mixins.tablet() {
                width: 100%;
                left: 16px;
            }
            @include mixins.mobile() {
                width: 100%;
                left: 16px;
            }
        }
    }

}

section#real-filter{
    width: 100%;
    padding: 40px 112px;

    @include mixins.tablet() {
        padding: 16px;
    }
    @include mixins.mobile() {
        padding: 16px;
    }
}

.real-filter-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 40px;
    width: 100%;
    //height: 414px;
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;

    .real-filter-categories{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0;
        gap: 16px;
        height: 56px;
        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;


        @include mixins.tablet() {
            flex-direction: column;
            height: auto;
        }
        @include mixins.mobile() {
            flex-direction: column;
            height: auto;
        }
        .cat-tab{

            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 16px;
            gap: 16px;
            width: 189.33px;
            height: 56px;
            background: #FFFFFF;
            box-shadow: 0 4px 6px -1px rgba(10, 13, 18, 0.1), 0px 2px 4px -2px rgba(10, 13, 18, 0.06);
            border-radius: 12px;
            flex: none;
            order: 0;
            flex-grow: 1;


            @include mixins.tablet() {
                width: 100%;
            }
            @include mixins.mobile() {
                width: 100%;
            }

            .cat-tab-inside{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                padding: 0;
                gap: 16px;
                width: 157.33px;
                height: 24px;
                flex: none;
                order: 0;
                flex-grow: 1;

                @include mixins.tablet() {
                    width: 100%;
                }
                @include mixins.mobile() {
                    width: 100%;
                }
                .cat-tab-text-icon{

                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    padding: 0;
                    gap: 6px;
                    margin: 0;
                    height: 24px;
                    flex: none;
                    order: 0;
                    flex-grow: 0;

                    span{
                        height: 24px;
                        font-weight: 600;
                        display: flex;
                        align-items: center;
                        text-align: center;
                        color: $neutral-900;
                        flex: none;
                        flex-grow: 0;
                    }

                    .icon{
                        --size: 20px;
                        color: $primary-500;
                    }
                }
                span{
                    margin: 0;
                    height: 20px;
                    font-weight: 400;
                    display: flex;
                    align-items: center;
                    text-align: center;

                    color: #4D5761;
                    flex: none;
                    order: 1;
                    flex-grow: 0;

                }


            }

            &.active{
                box-sizing: border-box;
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 16px;
                gap: 16px;
                background: #FFFFFF;
                border: 1px solid #44795C;
                border-radius: 12px;
                flex: none;
                flex-grow: 1;

            }
        }
    }
    .tabs-wrapper{
        width: 287px;
    }

    .real-filter-subfilter{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0;
        gap: 16px;
        //width: 1216px;
        height: 70px;
        flex: none;
        //order: 2;
        align-self: stretch;
        flex-grow: 0;

        @include mixins.tablet() {
            flex-direction: column;
            width: 100%;
            height: auto;
        }
        @include mixins.mobile() {
            flex-direction: column;
            width: 100%;
            height: auto;
        }


        .subfilter-item-wrapper{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 0;
            gap: 8px;
            width: 230.4px;
            height: 70px;
            flex: none;
            order: 0;
            flex-grow: 1;

            @include mixins.tablet() {
                width: 100%;
                height: auto;
            }
            @include mixins.mobile() {
                width: 100%;
                height: auto;
            }

            .subfilter-item{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding: 0;
                gap: 6px;
                width: 230.4px;
                height: 70px;
                flex: none;
                order: 0;
                align-self: stretch;
                flex-grow: 0;

                @include mixins.tablet() {
                    width: 100%;
                }
                @include mixins.mobile() {
                    width: 100%;
                }
                label{

                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    padding: 0px;
                    gap: 2px;
                    //width: 86px;
                    height: 20px;
                    flex: none;
                    order: 0;
                    flex-grow: 0;

                }

                select{
                    box-sizing: border-box;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    padding: 10px 14px;
                    gap: 8px;
                    width: 100%;
                    height: 44px;
                    background: #FFFFFF;
                    border: 1px solid #D5D7DA;
                    box-shadow: 0px 1px 2px rgba(10, 13, 18, 0.05);
                    border-radius: 8px;
                    flex: none;
                    order: 1;
                    align-self: stretch;
                    flex-grow: 0;

                }
            }
        }
    }
}

section#real-results{
    padding: 96px 112px;
    width: 100%;
    //width: 1440px;
    //height: 2004px;
    @include mixins.tablet() {
        padding: 16px;
    }
    @include mixins.mobile() {
        padding: 16px;
    }
}

.real-results-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
    background: #FFFFFF;
    flex: none;
    order: 3;
    align-self: stretch;
    flex-grow: 0;

    .real-results-upper-controls{

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        gap: 64px;
        width: 100%;
        //width: 1216px;
        height: 24px;
        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;

        span{
            margin: 0;
            width: 208px;
            height: 24px;
            font-style: normal;
            font-weight: 600;
            color: $neutral-900;
            flex: none;
            order: 0;
            flex-grow: 0;
        }

        .results-upper-controls-wrapper{
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 0;
            gap: 12px;
            margin: 0;
            //width: 202px;
            height: 24px;
            flex: none;
            order: 1;
            flex-grow: 0;

            @include mixins.tablet() {
                flex-direction: column;
            }
            @include mixins.mobile() {
                flex-direction: column;
            }

            label{
                font-style: normal;
                font-weight: 600;
                color: $neutral-900;
            }

            select{
                border: 0;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                padding: 0;
                gap: 6px;
                width: 90px;
                height: 24px;
                flex: none;
                order: 1;
                flex-grow: 0;

                option{

                }
            }
        }
    }

    .real-results-pagination-wrapper{

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 20px 0px 0px;
        gap: 12px;
        width: 100%;
        //width: 1216px;
        //height: 60px;
        border-top: 1px solid #E9EAEB;
        flex: none;
        order: 2;
        flex-grow: 0;

        .pagination-button-wrap{
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 0;
            width: 450px;
            height: 20px;
            flex: none;
            //order: 0;
            flex-grow: 1;

            @include mixins.tablet() {
                width: 40px;
            }
            @include mixins.mobile() {
                width: 40px;
            }

            button{
                border: 0;
                background: inherit;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                padding: 0px;
                gap: 6px;
                //width: 99px;
                height: 20px;
                flex: none;
                order: 0;
                flex-grow: 0;

                @include mixins.tablet() {
                    box-sizing: border-box;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    padding: 8px;
                    margin: 0 auto;
                    width: 36px;
                    height: 36px;
                    background: #FFFFFF;
                    border: 1px solid #D5D7DA;
                    box-shadow: 0px 1px 2px rgba(10, 13, 18, 0.05), inset 0px 0px 0px 1px rgba(10, 13, 18, 0.18), inset 0px -2px 0px rgba(10, 13, 18, 0.05);
                    border-radius: 8px;
                    flex: none;
                    order: 2;
                    flex-grow: 0;

                }
                @include mixins.mobile() {
                    box-sizing: border-box;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    padding: 8px;
                    margin: 0 auto;
                    width: 36px;
                    height: 36px;
                    background: #FFFFFF;
                    border: 1px solid #D5D7DA;
                    box-shadow: 0px 1px 2px rgba(10, 13, 18, 0.05), inset 0px 0px 0px 1px rgba(10, 13, 18, 0.18), inset 0px -2px 0px rgba(10, 13, 18, 0.05);
                    border-radius: 8px;
                    flex: none;
                    order: 2;
                    flex-grow: 0;
                }


                .icon{
                    --size: 11.67px;
                }
            }

            &.right{

                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-items: center;
                padding: 0;
                //width: 450px;
                height: 20px;
                flex: none;
                flex-grow: 1;

                button{

                }
            }
        }

        .pagination-numbers-wrap{
            display: flex;
            flex-direction: row;
            align-items: start;
            justify-content: center;
            padding: 0;
            gap: 2px;
            width: 292px;
            height: 40px;
            flex: none;
            ///order: 1;
            flex-grow: 0;


            @include mixins.tablet() {
                display: none;
            }
            @include mixins.mobile() {
                display: none;
            }

            a{
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                padding: 0px;
                gap: 8px;
                width: 40px;
                height: 40px;
                border-radius: 9999px;
                flex: none;
                order: 1;
                flex-grow: 0;
                border: 0;

                .pagination-content{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    padding: 8px;
                    width: 40px;
                    height: 40px;
                    border-radius: 20px;
                    flex: none;
                    flex-grow: 0;

                }

                &.active{

                    background: #FAFAFA;
                    border-radius: 9999px;

                }

                &:hover{

                    background: #FAFAFA;
                    border-radius: 9999px;

                }

            }

        }

        .pagination-mobile-numbers-wrap{
            display: none;

            @include mixins.tablet() {
                display: flex;
                width: 100%;
                text-align: center;
                justify-content: center;
            }
            @include mixins.mobile() {
                display: flex;
                width: 100%;
                text-align: center;
                justify-content: center;
            }

            span{
                color: #414651;

                b{
                    font-weight: 500;
                }
            }
        }
    }
}
