/* HERO */
#hero{
    .hero-texts-wrapper{


        .hero-texts{


            a.chevron{


                i{

                }

                &.chevron-r{
                                  }

                &.chevron-l{

                }
            }

            &-header{


                h1{

                }

                p{

                }
            }

            &-links{

                .sell-reality{

                }
                .show-offer{

                }
            }



        }
        .hero-bg{

        }
    }

    .hero-categories{
    }
}

.hero-categories-list{


    .hero-category-item{


        i{

        }

        p{

        }
    }
}

/* WE ARE STABILIUS */
#we-are-stabilius{

}

.was{


    .was-profile{


        .person{

        }

        .person-detail-wrapper{


            .detail-texts{


                .name{

                }

                .position{

                }
            }
        }
    }

    .was-description{


        .was-description-frame{


            p.title{

            }

            p.description{

            }
        }
    }


}

/* METRICS */
#metrics{


    .metrics-head{


        p.metrics-heading{

        }

        p.metrics-supportive{

        }
    }

    .metrics-stats{


        .metrics-item{


            .metrics-item-main{

            }

            .metrics-item-supportive{

            }
        }

        .metrics-divider{

        }
    }
}

/* LATEST OFFERS */
#latest-offers{


    .container{

        .offers-body{


            .offers-title{

            }

            .horizontal-tabs{


                .offer-tab-switcher{



                    &.active{


                    }
                }
            }

            .show-more{

            }
        }

    }

}

/* BLOG */
#blog{

}

.blog-wrapper{


    .blog-list-header{


        .blog-header-title{

        }

        .blog-header-supportive{

        }
    }

    .blog-items-list-wrapper{


        .blog-items-list{


            .blog-item{


                img{


                }

                .blog-item-description{


                    .blog-item-heading{


                        .blog-item-heading-subhead{

                        }
                        .blog-item-heading-texts{


                            .blog-item-heading-texts-title-wrapper{


                                .blog-item-heading-texts-title{

                                }

                                i{


                                }
                            }

                        }



                        .blog-item-heading-texts-description{

                        }
                    }
                }

            }
        }

        .blog-actions{


            .show-more{


            }
        }
    }
}


