.breadcrumb{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 8px;
    height: 20px;
    color: #FFFFFF;
    margin: 0;

    a{
        color: #FFFFFF;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;

        .icon-home-line{
            --size: 20px;
        }
    }

    .icon-chevron-r{
        --size: 16px;
    }

    p{
        margin: 0;
    }
}
