@use "../commons/mixins";

section.header{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;

}

.header-contact{
    height: 40px;
    display: flex;
    flex-direction: row-reverse;

    @include mixins.tablet() {
        height: auto;
        padding: 16px;
        flex-direction: column;

    }
    @include mixins.mobile() {
        height: auto;
        flex-direction: column;
        padding: 16px;
    }

    &-bg{
        background: $primary-50;
    }

    .contacts{
        display: flex;
        align-items: center;
        gap: $text-sm;

        @include mixins.tablet() {
            align-items: start;
            flex-direction: column;
            gap: 20px;
        }
        @include mixins.mobile() {
            flex-direction: column;
            align-items: start;
            gap: 20px;
        }

        a{
            color: $primary-500;
            text-decoration: none;
            --size: 20px;
            display: flex;
            align-items: center;
            gap: 6px;
            font-weight: 600;
        }
    }

}

.header-navigation{
    height: 72px;
    display: flex;
    justify-content: space-between;
    padding: 18px 0;
    background: #FFFFFF;
    position: relative;

    @include mixins.tablet() {
        padding: 16px;
    }
    @include mixins.mobile() {
        padding: 16px;
    }
    .header-logo{
        width: 200px;
        height: fit-content;
    }

    #navbar{

        //@include mixins.tablet() {
        //    top: 40px;
        //    right: 0;
        //    position: absolute;
        //
        //}
        //@include mixins.mobile() {
        //    top: 40px;
        //    right: 0;
        //    position: absolute;
        //
        //}


        ul{
            height: 40px;
            display: flex;
            align-items: center;
            gap: 20px;

            @include mixins.tablet() {
                width: 100%;
                background: #FFFFFF;
            }
            @include mixins.mobile() {
                width: 100%;
                background: #FFFFFF;
            }

            li{
                @include mixins.tablet() {
                    width: 100%;
                    background: #FFFFFF;
                }
                @include mixins.mobile() {
                    width: 100%;
                    background: #FFFFFF;
                }
            }
        }


    }

}

.nav-search-butt{
    display: flex;

    i.icon-search{
        --size: 15px;
    }
}

.nav-link{
    color: $green-menu;
    font-weight: 600;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.desktop-search-bar{
    display: none;
    padding: 20px 112px;
    position: absolute;
    width: 100%;
    height: 80px;
    left: 0;
    top: 112px;
    background: rgba(0, 0, 0, 0.8);
    flex: none;
    order: 1;
    flex-grow: 0;
    z-index: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include mixins.tablet() {
        width: 100%;
        top: 72px;
        height: auto;
        background: #FFFFFF;
    }
    @include mixins.mobile() {
        width: 100%;
        top: 72px;
        height: auto;
        background: #FFFFFF;
    }
    &.active{
       // display: flex;
    }

    .search-wrapper{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 16px;

        @include mixins.tablet() {
            flex-direction: column;
        }
        @include mixins.mobile() {
            flex-direction: column;
        }

        input.search-reality-top-d{
            box-sizing: border-box;
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 8px 12px;
            gap: 8px;
            width: 360px;
            height: 40px;
            background: #FFFFFF;
            border: 1px solid #D5D7DA;
            box-shadow: 0px 1px 2px rgba(10, 13, 18, 0.05);
            border-radius: 8px;
            flex: none;
            order: 1;
            align-self: stretch;
            flex-grow: 0;

        }

        .search-reality-butt{
            box-sizing: border-box;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 10px 14px;
            gap: 4px;
            width: 121px;
            height: 40px;
            background: #44795C;
            border-radius: 8px;
            flex: none;
            order: 1;
            flex-grow: 0;
            color: white;

            @include mixins.tablet() {
                width: 100%;

            }
            @include mixins.mobile() {
                width: 100%;
            }
            i{
                --size: 15px;
            }
        }
    }


}

.navbar{
    display: flex;
    gap: 16px;
    .menu-item{
        height: 40px;
        width: 40px;
        align-items: center;
        align-content: center;
        span{
            display: flex;
            align-items: center;
            align-content: center;
            .icon{
                --size:15px;
            }
        }

    }

}

.nav-search-click{
    border: 0;
    background: inherit;
}

.mobile-nav-bar{
    display: none;
    position: absolute;
    width: 100%;
    padding: 16px;
    left: 0;
    background: white;
    top: 71px;
    z-index: 20;

    &.active{
        display: flex;
    }
    ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 0px;
        gap: 20px;
        width:100%;
        flex: none;
        order: 0;
        flex-grow: 1;

        li{
            width: 100%;
            .btn-custom-dark{
                width: 100%;
            }
        }
    }
    .header-contact-bg{
        width: 100%;
        position: absolute;
        bottom: -100px;
        left: 0;
        height: 100px;

    }
}


