section.header{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;

}

.header-contact{
    height: 40px;
    display: flex;
    flex-direction: row-reverse;

    &-bg{
        background: $primary-50;
    }

    .contacts{
        display: flex;
        align-items: center;
        gap: $text-sm;

        a{
            color: $primary-500;
            text-decoration: none;
            --size: 20px;
            display: flex;
            align-items: center;
            gap: 6px;
            font-weight: 600;
        }
    }

}

.header-navigation{
    height: 72px;
    display: flex;
    justify-content: space-between;
    padding: 18px 0;

    .header-logo{
        width: 200px;
        height: fit-content;
    }

    #navbar{

        ul{
            height: 40px;
            display: flex;
            align-items: center;
            gap: 20px;
        }
    }

}

.nav-search-butt{
    display: flex;

    i.icon-search{
        --size: 15px;
    }
}

.nav-link{
    color: $green-menu;
    font-weight: 600;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.desktop-search-bar{
    display: none;
    padding: 20px 112px;
    position: absolute;
    width: 100%;
    height: 80px;
    left: 0;
    top: 112px;
    background: rgba(0, 0, 0, 0.8);
    flex: none;
    order: 1;
    flex-grow: 0;
    z-index: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &.active{
       // display: flex;
    }

    .search-wrapper{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 16px;

        input.search-reality-top-d{
            box-sizing: border-box;
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 8px 12px;
            gap: 8px;
            width: 360px;
            height: 40px;
            background: #FFFFFF;
            border: 1px solid #D5D7DA;
            box-shadow: 0px 1px 2px rgba(10, 13, 18, 0.05);
            border-radius: 8px;
            flex: none;
            order: 1;
            align-self: stretch;
            flex-grow: 0;

        }

        .search-reality-butt{
            box-sizing: border-box;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 10px 14px;
            gap: 4px;
            width: 121px;
            height: 40px;
            background: #44795C;
            border-radius: 8px;
            flex: none;
            order: 1;
            flex-grow: 0;
            color: white;

            i{
                --size: 15px;
            }
        }
    }


}
