@use "../commons/mixins";

.offer-list{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 48px;
    width: 100%;
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
    .offer-tabs-row{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0;
        gap: 32px;
        width: 100%;
        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;
        flex-wrap: wrap;

        .offer-tab{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 0;
            width: 384px;
            height: 364px;
            background: #FFFFFF;
            box-shadow: 0 4px 6px -1px rgba(10, 13, 18, 0.1), 0px 2px 4px -2px rgba(10, 13, 18, 0.06);
            border-radius: 12px;
            flex: none;
            order: 0;
            flex-grow: 0;
            overflow: hidden;
            cursor: pointer;
            margin: 0 auto;

            @include mixins.tablet() {
                width: 343px;
                height: 360px;
            }
            @include mixins.mobile() {
                width: 343px;
                height: 360px;
            }

            .offer-tab-image{
                width: 384px;
                height: 216px;
                //background: url(.jpg), #D2D6DB;
                flex: none;
                order: 0;
                align-self: stretch;
                flex-grow: 0;
                position: relative;

                @include mixins.tablet() {
                    width: 100%;
                    height: 216px;
                }
                @include mixins.mobile() {

                    width: 100%;
                    height: 216px;

                }

                img{
                    width: 100%;
                    height: 100%;
                    order: 0;
                    object-fit: cover;
                }

                .tag{
                    box-sizing: border-box;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    padding: 2px 8px;
                    position: absolute;
                    height: 24px;
                    left: 16px;
                    top: 16px;
                    background: #FFFFFF;
                    border: 1px solid #E5E7EB;
                    box-shadow: 0 1px 2px rgba(10, 13, 18, 0.05);
                    border-radius: 6px;
                    color: $neutral-600;
                }
            }

            .offer-tab-content{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding: 24px;
                gap: 24px;
                width: 384px;
                height: 148px;
                flex: none;
                order: 1;
                align-self: stretch;
                flex-grow: 0;

                @include mixins.tablet() {
                    width: 100%;
                    height: auto;
                }
                @include mixins.mobile() {

                    width: 100%;
                    height: auto;

                }

                .offer-tab-text{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    padding: 0;
                    width: 336px;
                    height: 100px;
                    flex: none;
                    order: 0;
                    align-self: stretch;
                    flex-grow: 0;
                    gap: 8px;

                    @include mixins.tablet() {
                        width: 100%;
                    }
                    @include mixins.mobile() {
                        width: 100%;

                    }

                    .offer-title{
                        font-weight: 600;
                        color: $neutral-900;
                        margin: 0;
                    }
                    .offer-location{
                        font-weight: 400;
                        color: $neutral-500;
                        margin: 0;
                    }
                    .offer-price{
                        font-weight: 600;
                        color: $neutral-900;
                        margin: 0;
                    }
                }
            }
        }
    }

}
