.tabs-wrapper{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px;
    gap: 4px;
    height: 44px;
    background: #F9FAFB;
    border: 1px solid #E5E7EB;
    border-radius: 10px;
    flex: none;
    flex-grow: 0;

    .tab-switcher{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 8px 12px;
        gap: 8px;
        border-radius: 6px;
        flex: none;
        order: 1;
        flex-grow: 0;
        font-weight: 600;
        color: $neutral-600;
        border: 0;


        &.active{
            background: #FFFFFF;
            box-shadow: 0 1px 3px rgba(10, 13, 18, 0.1), 0 1px 2px -1px rgba(10, 13, 18, 0.1);

        }
    }
}
