footer{

}

.footer-wrapper{


    .footer-main{


        .footer-logo-adress{


            img{

            }

            .footer-adress{

                p{

                }
            }

            .footer-contacts{


                a{



                    i{

                    }
                }
            }
        }

        .footer-menu-links{



        }

        .footer-categories{

        }

        .footer-socials{


            .footer-social-links{


                a{

                    i{

                    }
                }

            }
        }

    }

    .footer-supportive{


        .footer-supportive-text{

        }

        .footer-supportive-links{


            a{

            }
        }
    }
}

.footer-main-heading{

}

.footer-links-list {


    a{


        .link-batch{

        }
    }
}
