section.header{


}

.header-contact{



    .contacts{


        a{

        }
    }

}

.header-navigation{


    .header-logo{

    }

    #navbar{

        ul{

        }
    }

}

.nav-search-butt{


    i.icon-search{

    }
}

.nav-link{

}

.desktop-search-bar{


    &.active{

    }

    .search-wrapper{


        input.search-reality-top-d{


        }

        .search-reality-butt{


            i{
            }
        }
    }


}
