.offer-list{

    .offer-tabs-row{


        .offer-tab{


            .offer-tab-image{

                img{

                }

                .tag{

                }
            }

            .offer-tab-content{


                .offer-tab-text{


                    .offer-title{

                    }
                    .offer-location{

                    }
                    .offer-price{

                    }
                }
            }
        }
    }

}
