<footer>
    <div class="container">
        <div class="footer-wrapper">
            <div class="footer-main">
                <div class="footer-logo-adress">
                    <img src="{{ asset("build/images/logo-white.png") }}" alt="Logo white" />
                    <div class="footer-adress">
                        <p>Přerovská 12<br/>
                            Olomouc</p>
                        <p>IČ: 12345678</p>
                    </div>
                    <div class="footer-contacts">
                        <a href="tel:+420777929980" class="footer-contact-item text-md"><i class="icon icon-phone"></i> +420 777 929 980</a>
                        <a href="mailto:info@stabilius.cz" class="footer-contact-item text-md"><i class="icon icon-mail"></i> info@stabilius.cz</a>
                    </div>
                </div>
                <div class="footer-menu-links">
                    <p class="footer-main-heading text-sm">Menu</p>
                    <div class="footer-links-list">
                        <a href="{{ path('front_about_us') }}" >O nás</a>
                        <a href="{{ path('front_realities') }}" >Nemovitosti <div class="link-batch">TOP</div></a>
{#                        <a href="#" >Služby</a>#}
                        <a href="{{ path('front_contacts') }}" >Kontakt</a>
                    </div>
                </div>
                <div class="footer-categories">
                    <p class="footer-main-heading text-sm">Nemovitosti</p>
                    <div class="footer-links-list">
                        <a href="#" >Byty</a>
                        <a href="#" >Domy</a>
                        <a href="#" >Pozemky</a>
                        <a href="#" >Kanceláře</a>
                        <a href="#" >Novostavby</a>
                    </div>
                </div>
                <div class="footer-socials">
                    <p class="footer-main-heading text-sm">Sledujte nás</p>
                    <div class="footer-social-links">
                        <a href=""><i class="icon icon-facebook"></i></a>
                        <a href=""><i class="icon icon-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="footer-supportive">
                <p class="footer-supportive-text text-md">© 2025 Stabilius Real. Všechna práva vyhrazena.</p>
                <div class="footer-supportive-links">
                    <a href="#" class="text-md">GDPR</a>
                    <a href="#" class="text-md">Obchodní podmínky</a>
                </div>
            </div>
        </div>
    </div>
</footer>
