@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@import "~bootstrap/scss/bootstrap";
@import "variables";
@import "typography";
@import "icons";
@import "buttons";

body{
    width: 100%;
    height: 100%;
    display: block;
    margin: 0;
    padding: 0;
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;

}


.container{
    width: 1216px;
    margin: 0 auto;
    display: block;
    --bs-gutter-x: 0 !important;
}

// visibility.scss
$breakpoints: (
    mobile: 0,
    tablet: 768px,
    desktop: 1024px
);

@each $name, $value in $breakpoints {
    .show-#{$name} {
        display: none;

        @media (min-width: $value) {
            display: block;
        }
    }
}


