@use "mixins";
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@import "~bootstrap/scss/bootstrap";
@import "variables";
@import "typography";
@import "icons";
@import "buttons";



body{
    width: 100%;
    //max-width:1440px;
    height: 100%;
    display: block;
    margin: 0 auto;
    padding: 0;
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;

}


.container{
    width: 1216px;
    margin: 0 auto;
    display: block;
    --bs-gutter-x: 0 !important;

    @include mixins.tablet() {
        max-width: 100%;


    }
    @include mixins.mobile() {
        max-width: 100%;
    }
}

.show-desktop{
    display: flex ;
    @include mixins.tablet() {
        display: none;
    }
    @include mixins.mobile() {
        display: none;
    }
}

.show-tablet{
    display: none;
    @include mixins.tablet() {
        display: flex;
    }
    @include mixins.mobile() {
        display: none;
    }
}

.show-mobile{
    display: none;
    @include mixins.tablet() {
        display: none;
    }
    @include mixins.mobile() {
        display: block;
    }
}
